:root {
  /* Colours */
  --color-bg: light-dark(#fceb94, #1b1b1b);

  /* Header */
  --color-head-bg: light-dark(#ff4b00, #6f90eb);

  /* Logotype */
  --color-logotype-bg: #000000;
  --color-text-logotype: #fffae2;
  --font-logotype-size: 1rem;

  /* Global menu */
  --color-menu-bg: #6f90eb;
  /* Links */
  --color-link-bg: #fffae2;
  --color-link-hover: #fff; /* used */
  --color-link-active: #99958f; /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 2rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: #000000;
  --color-headline-text-page: #fffae2;

  /* Tekst */
  --color-text: #000;
  --color-text-inverted: #ffffff;

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: #ffffff;
  --color-cta-card-bg: #ff4b00;
  /* news-cards */
  --color-news-bg: #fffae2;
  --color-news-bg-inverted: #dbe2f5;
  --color-cta-newscard-bg: #ffa680;
  --color-cta-newscard-bg-inverted: #6f90eb;

  /* Fonts */
  --font-family-sans: ui-sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #ffffff;
  --color-infobox-1-bg: #cfcec6;
  --color-infobox-2-bg: #969995;

  /*Form*/
  --form-background-color: #ffffff;
}

#tech:hover polygon {
  fill: orange;
  cursor: pointer;
}
#industri:hover polygon {
  fill: green;
  cursor: pointer;
}
#kultur:hover path {
  fill: yellow;
  cursor: pointer;
}

.invisible {
  display: none;
}

.info1,
.info2,
.info3 {
  display: none;
}

[popover] {
  position: absolute;
  justify-self: center;
  width: 400px;
  padding: 20px;

  top: 50%;
  opacity: 0;
  scale: 1.1;
  transition: 400ms;
  transition-behavior: allow-discrete;
}
[popover] h2 {
  font-size: x-large;
}
[popover] h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

[popover]:popover-open {
  opacity: 1;
  scale: none;
  transition: opacity 800ms ease,
    scale 1500ms 400ms
      linear(
        0,
        0.013 0.5%,
        0.05 1%,
        0.109 1.5%,
        0.204 2.1%,
        0.429 3.2%,
        1.04 5.8%,
        1.301 7.2%,
        1.395 7.9%,
        1.454 8.5%,
        1.491 9.1%,
        1.508 9.7%,
        1.506 10.2%,
        1.488 10.8%,
        1.453 11.4%,
        1.405 12%,
        1.29 13.1%,
        0.98 15.7%,
        0.847 17.1%,
        0.799 17.8%,
        0.769 18.4%,
        0.75 19%,
        0.742 19.6%,
        0.752 20.7%,
        0.794 21.9%,
        1.01 25.6%,
        1.078 27%,
        1.118 28.3%,
        1.131 29.5%,
        1.126 30.6%,
        1.105 31.8%,
        0.995 35.5%,
        0.96 36.9%,
        0.941 38.1%,
        0.933 39.3%,
        0.942 41.3%,
        1.016 46.4%,
        1.034 49.2%,
        1.029 51.2%,
        0.992 56.3%,
        0.983 59%,
        1.009 68.9%,
        0.996 78.5%,
        1.002 88.5%,
        1
      );
}

@starting-style {
  [popover]:popover-open {
    scale: 0.9;
    opacity: 0;
  }
}

/* Backdrop */
::backdrop {
  opacity: 0;
  transition: 400ms allow-discrete;
  background: #0008;
}

:popover-open::backdrop {
  opacity: 1;
}

@starting-style {
  :popover-open::backdrop {
    opacity: 0;
  }
}
