#webform {
  background-color: var(--form-background-color);
}
#webform h2 {
  text-align: center;
  color: var(--color-headline-text-page);
  background-color: var(--color-headline-bg);
  margin: 0;
  padding: 0.5rem 0;
}
form input,
textarea {
  background-color: #dbe2f5;
}

#form-section,
#form-summary {
  background-color: var(--info-background-color);
  padding: 0;
}
#form-summary h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 5px;
}
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}

/*new*/

input {
  border: 1px;
  padding: 0.25rlh;
}
textarea {
  border-radius: 6px;
  border: 1px;
}

button {
  font-family: "Rubik";
  border: 1px;
  background-color: var(--color-head-bg);
  color: #fff;
  border-radius: 6px;
  padding: 0.25rlh 0.5rlh;
  cursor: pointer;
}

.error-message {
  color: darkred;
}

/* Form layout */

form {
  font-family: "Rubik";
  display: grid;
  gap: 1rlh;
  padding: 1rlh;

  .form-group {
    display: grid;
    gap: 0.1rlh;
  }

  label:has(input) {
    display: flex;
    align-items: center;
    gap: 0.25rlh;
    justify-self: start;
  }
  fieldset {
    display: contents;

    legend {
      justify-self: center;
    }

    div {
      display: flex;
      justify-self: center;
      gap: 0.5ch;
      border-radius: 4px;
      margin: 0;
    }
  }
}

/* Pseudo-classes */
:focus-visible {
  /* virker til både knapper og input-felter, select, textarea, links mm. */
  outline: 2px solid slateblue;
  outline-offset: 1px;
}
/* Hover-styles */
button:hover {
  background: #222;
}
/* Active-styles (imens man klikker) */
button:active {
  scale: 0.98;
}

/* Valideringsregler */
/* Skjul fejlmeddelelsen som standard */
.error-message {
  display: none;
}
.form-group:has(:required) {
  legend::after,
  label:only-of-type::after {
    margin-inline-start: 0.25ch;
    content: "*";
    color: red;
  }
}

/* Tilføj rød kant omkring input-feltet, hvis det er ugyldigt */
.form-group:has(:user-invalid) {
  input:not(label > *),
  fieldset > div,
  textarea,
  select {
    outline: 2px solid red;
    border-color: darkred;
  }
  /* Vis fejlmeddelelsen, hvis feltet er ugyldigt */
  .error-message {
    display: block;
    padding: 0;
  }
}

/* Demo layout */
/*
body {
  padding: 2rlh;
  display: grid;
  gap: 2rlh;
  @media (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
  }
}*/

section {
  display: grid;
  gap: 1rlh;
  align-content: start;
}

.output div {
  background: #f5f5f5;
  padding: 1rlh;
  border-radius: 6px;
  display: grid;
  gap: 0.5rlh;
}

.form2 {
  display: grid;
  gap: 1rlh;
  grid-template-columns: 1fr 1fr;
}

#kommentar {
  display: block;
  font-family: inherit;
  width: 98%;
  height: 100px;
}

#age {
  border: 2px;
  max-height: 24px;
  max-width: 100px;
}
